* {
  box-sizing: border-box;
}

.main {
  display: flex;
  justify-content: center;
}

.frame {
  width: 500px;
  height: 500px;
  background-color: blue;
  position: relative;
  margin: 0px 40px;
  overflow: hidden;
}

.container {
  display: flex;
  position: absolute;
}

.container img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.arrow {
  z-index: 1;
}
