* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
}

.frame {
  width: 500px;
  height: 500px;
  background-color: blue;
  position: relative;
  margin: 0px 40px;
  overflow: hidden;
}

.container {
  display: flex;
  position: absolute;
}

.container img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.arrow {
  z-index: 1;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: rgb(167, 167, 255);
  display: inline-block;
  margin: 20px 5px;
}

.active {
  background-color: rgb(92, 92, 244);
}